@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 4%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 4%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 4%;
    --primary: 269 98% 61%;
    --primary-foreground: 268 100% 97%;
    --secondary: 240 3% 87%;
    --secondary-foreground: 240 4% 20%;
    --muted: 240 10% 94%;
    --muted-foreground: 240 10% 27%;
    --accent: 240 4% 89%;
    --accent-foreground: 240 2% 8%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 240 10% 96%;
    --border: 240 10% 84%;
    --input: 240 10% 84%;
    --ring: 269 98% 61%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240, 10%, 4%;
    --foreground: 240 10% 96%;
    --card: 240 10% 4%;
    --card-foreground: 240 10% 96%;
    --popover: 240 10% 4%;
    --popover-foreground: 240 10% 96%;
    --primary: 269 98% 61%;
    --primary-foreground: 268 100% 97%;
    --secondary: 240 4% 29%;
    --secondary-foreground: 240 2% 92%;
    --muted: 240 4% 16%;
    --muted-foreground: 240 4% 79%;
    --accent: 240 4% 16%;
    --accent-foreground: 240 4% 95%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 4% 26%;
    --input: 240 4% 26%;
    --ring: 269 98% 61%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  html {
    @apply scroll-smooth;
  }
  body {
    @apply bg-background text-foreground;
    /* font-feature-settings: "rlig" 1, "calt" 1; */
    font-synthesis-weight: none;
    text-rendering: optimizeLegibility;
  }
}

@layer utilities {
  .step {
    counter-increment: step;
  }

  .step:before {
    @apply absolute inline-flex items-center justify-center font-mono text-base font-medium text-center border-4 rounded-full w-9 h-9 bg-muted -indent-px border-background;
    @apply ml-[-50px] mt-[-4px];
    content: counter(step);
  }
}

@media (max-width: 640px) {
  .container {
    @apply px-4;
  }
}
